<tr>
  <td class="d-flex align-self-center" scope="row">
    <span>
      <%= category.name %>
      (<%= t(".type_#{category.operation_type}") %>)
    </span>
    <span class="ml-auto">
      <%=link_to fa_icon('edit'), edit_category_path(category), remote: true %>
      <%=link_to fa_icon('trash-o'), category_path(category), remote: true, method: :delete, class: "ml-1" %>
    </span>
  </td>
</tr>
