<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="card mt-3">
      <div class="card-header">
        <h3><%= t('.head') %></h3>
      </div>

      <div class="card-body">
        <%# Таблица всех операций %>
        <% unless @categories_facade.categories.empty? %>
          <table class="table mt-4">
            <tbody>
              <%= render partial: "categories/category", collection: @categories_facade.categories %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-md-12 col-lg-6 form">
    <%= render partial: "categories/form",  object: @categories_facade, as: 'resource'%>
  </div>
</div>
