<% category = categories_row.first %>
<% expenses = categories_row.last %>
<% symbol = "-" if category.expense? %>
<% symbol = "+" if category.income? %>
<% class_row = category.expense? ? 'text-danger' : 'text-success'  %>

<tr>
  <td scope="row"><%= category %></td>
  <td scope="row" class="font-weight-bold <%= class_row %>">
    <span>
      <%= symbol %>
      <%= number_to_currency(expenses, strip_insignificant_zeros: true) %>
    </span>
  </td>
</tr>
