<footer class="footer bg-light pt-2">
  <div class="text-muted">
    <div class="row">
      <div class="col-12">
        <p>
          <%= t('layouts.app_name') %> | 
          <%= t('layouts.app_description') %> |
          <%=  link_to t('layouts.author'), 'https://github.com/yurinds/financial_assistant' %>
        </p>
        <small> © 2019-2020</small>
      </div>
    </div>
  </div>
</footer>
